body {
    background-image: url('ocean.jpg');
    background-size: cover; /* lub 'contain' jeśli chcesz, aby całe zdjęcie było widoczne */
    background-position: center; /* centrowanie obrazu */
    background-repeat: no-repeat; /* zapobiega powtarzaniu obrazu */
    background-attachment: fixed; /* sprawia, że obraz pozostaje na miejscu podczas przewijania strony */
}

div#profileContent {
    text-align: center;
}
span#name {
    font-family: 'Comic Sans MS';
    font-size: 3rem;
    line-height: 6rem;
    display: block;
}